  <div class="text-center">
    <h5 class="display-5">Processo Seletivo - Teste Prático</h5>
        <p class="text-muted">Avaliação do conhecimento técnico e a lógica de desenvolvimento.</p>
  </div>
  <br>
  <div class="text-center">
    <h6 class="display-6">Tecnologias Utilizadas</h6>
    <span><hr></span>

  </div>
  <div class="container text-center">
    <div class="container">
      <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
        <div class="col">
          <div class="p-3"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain.svg" class="img-svg"></div>
        </div>
        <div class="col">
          <div class="p-3"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" class="img-svg"></div>
        </div>
        <div class="col">
          <div class="p-3"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" class="img-svg"></div>
        </div>
        <div class="col">
          <div class="p-3"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" class="img-svg"></div>
        </div>
        <div class="col">
          <div class="p-3"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg" class="img-svg"></div>
        </div>
        <div class="col">
          <div class="p-3"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original-wordmark.svg" class="img-svg"></div>
        </div>
        <div class="col">
          <div class="p-3"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" class="img-svg"></div>
        </div>
        <p class="sombra">Teste</p>
      </div>
    </div>






