<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-20 shadow header-espacamento">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Compugraf</font></font></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Alternar de navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Procurar" aria-label="Procurar">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OK</font></font></a>
    </div>
  </div>
</header>
